body{ 
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
}

.header{
    background-color: green;
    height: 48px;
    width: 100%;
    position: fixed;
    top: 0;
    border: 1px solid green; 
    padding-bottom: 5px; 
}  
.header h3{ 
    margin-left: 12px; 
    color: white;
}
 
.displayList{ 
    width: 100%;
    padding-top: 55px;
    margin-bottom: 75px; 
    border-bottom: 1px solid #c2c2c2;
}
.displayList > div{
    border-top: 1px solid #c2c2c2;
    padding: 8px 15px; 
}
.displayList p{ line-height: 0; }
.displayList > div > p{
    font-style: italic;
    color: gray;
}
.displayList .mainLine{
    display: flex;
    justify-content: space-between; 
}
.displayList > div:hover{
    background-color: #f2f2f2;
}  