body{ 
    margin: 0; 
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
button { 
    cursor: pointer;
    border: none; 
}

.centered{
    text-align: center;
} 
.column{ 
    display: flex;
    justify-content: space-between;
}
.column button{
    height: 40px;
    margin-top: 12px; 
    background: none;
    font-weight: bold; 
    color: rgb(116, 116, 116);
    border-bottom: 1px solid gray;
    padding: 10px;;
}
.column button:hover{ color: black; }
button.red{
    background-color: darkred; 
    color: white; 
    border-radius: 8px; 
}
button.blue{
    background-color: rgb(0, 119, 255); 
    color: white; 
    border-radius: 8px; 
}
button.green{
    background-color: green;
    color: white; 
    border-radius: 8px; 
}
.header{
    background-color: green;
    height: 48px;
    width: 100%;
    position: fixed;
    top: 0;
    border: 1px solid green; 
    padding-bottom: 5px; 
}  
.header h3{ 
    margin-left: 12px; 
    color: white;
}
h2{
    color: green;
    text-align: center; 
}
.displayList{ 
    width: 100%;
    padding-top: 55px;
    margin-bottom: 75px; 
    border-bottom: 1px solid #d1d1d1;
}
.displayList > div{
    border-top: 1px solid #dddcdc;
    padding: 8px 15px;  
}
.displayList p{    
    margin-bottom: 3px;
    margin-top: 0;
}
.displayList > div > p{
    font-style: italic;
    color: gray;
}
.displayList .mainLine{
    display: flex;
    justify-content: space-between; 
    font-weight: bold;
    color: rgb(77, 77, 77);
}
.displayList .mainLine .add{
    color: green;
}
.displayList .mainLine .subtract{
    color: red;
}
.displayList > .interact{
    border-left: 6px solid rgb(8, 189, 8);
}
.displayList > .interact:nth-child(odd){
    border-left: 6px solid rgb(173, 173, 173);
}
.displayList .interact .column{
    font-style: italic;
    color: rgb(131, 131, 131);
}
.displayList > .interact:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}  
.displayList .info{
    padding: 0;
    background-color: rgb(228, 228, 228); 
    border: 1px solid rgb(228, 228, 228);
} 
.displayList .info p{ 
    color: black;
    font-weight: bold; 
    font-style: normal;
    margin-top: 6px; 
    padding-bottom: 5px;
}
.options{ 
    overflow: hidden;
    display: none;
    padding-top: 18px; 
    margin-top: 12px; 
    margin-bottom: 10px; 
    border-top: 1px solid rgb(211, 211, 211); 
} 
.options button{ 
    padding: 12px 0;
    width: 30%;
    font-weight: bold; 
    border-radius: 8px;
} 
.show .options{ 
    display: block;
    animation: slideIn .2s; 
    display: flex;
    justify-content: space-around;
}
@keyframes slideIn{
    from{height: 0px }
    to{ height: 50px; }
}